.wd-homepage {
    margin-left:-80px;
    margin-right: -60px
}

.wd-searchbar {
    margin-left: -150px
}

.wd-about-heading {
    width: 52%;
    color: #158CBA;
}

.wd-about-content {
    width: 50%
}